<div class="container viewport main theme-{{config.themeId}}">
  <div class="wrapper main-wrapper main-wrapper-left">
    <div class="container page main-page-left">

			{{> app-header.hbs }}

			{{> app-nav.hbs }}

      <div class="container viewport sub">
        <div class="wrapper sub-wrapper">
          <div id="sub-page-0" class="container page viewport sub-page" data-loaded="0">
            <div class="wrapper sub-page-wrapper">
            </div>
          </div>
          <div id="sub-page-1" class="container page viewport sub-page" data-loaded="0">
            <div class="wrapper sub-page-wrapper">
            </div>
          </div>
          <div id="sub-page-2" class="container page viewport sub-page" data-loaded="0">
            <div class="wrapper sub-page-wrapper">
            </div>
          </div>
          <div id="sub-page-3" class="container page viewport sub-page" data-loaded="0">
            <div class="wrapper sub-page-wrapper">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container page main-page-right">
      <div class="container app-header app-header-fixed">
        <button id="back-btn" class="btn app-header-backbtn">返回</button>
        <h1 class="app-header-title">
          {{title}}
        </h1>
      </div>
      <div class="container viewport app-content">
        <div class="wrapper app-content-wrapper">

        </div>
      </div>
      <!--<div class="container app-footer app-footer-fixed">
        <h3 class="app-footer-title">
          footer
        </h3>
      </div>-->
    </div>
  </div>
</div>